<!DOCTYPE html>
<html >
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.min.css">
        <script defer src="{{ base_url() }}/assets/js/fontawesome-all.js"></script>
        <script defer src="{{ base_url() }}/assets/js/jquery-3.3.1.min.js"></script>
        <script defer src="{{ base_url }}/assets/js/dash_script.js"></script>
    </head>
    <body>
    <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="{{ base_url() }}/assets/img/logo.png" alt="PWBox: your files online">
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <a class="button is-primary is-outlined" href="/login">
                                    Log in
                                </a>
                            </div>

                            {% if logged != 1 %}
                                <div class="navbar-item">
                                        <a class="button is-primary" href="/register">
                                            Sign up
                                        </a>
                                </div>
                            {% endif %}

                            {% if logged == 1 %}
                                <div class="navbar-item">
                                    <a class="button is-primary is-outlined" href="/profile">
                                        Profile
                                    </a>
                                </div>

                                <div class="navbar-item">
                                    <a class="button is-primary" href="/dashboard">
                                        Dashboard
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
            </nav>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>PWBox</strong> by Jordi Alonso & Robin Jiménez
                </p>
            </div>
        </div>
    </footer>
    {% block scripts %} {% endblock %}
    </body>
</html>