{% extends "base.twig" %}
{% block title %}PWbox - dashboard{% endblock %}
{% block content %}
    <div class="hero is-medium is-light is-bold" xmlns:>
        <div class="hero-body">
            <div class="container">
                <div class="column is-pulled-left">
                    <h2 class="title is-centered">dashboard</h2>
                </div>
                <div id="newFileModal" class="modal">
                    <div class="modal-background" onclick="close()"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="subtitle">add a new file</p>
                        </header>
                        <section class="modal-card-body">
                            <form action="/dashboard{{ path }}" enctype="multipart/form-data" method="POST">
                                <div class="control">
                                    <div class="file has-name is-boxed is-primary">
                                        <label class="file-label">
                                            <input id="file" class="file-input" type="file" name="files[]" multiple="multiple">
                                            <span class="file-cta">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload"></i>
                                                        </span>
                                                        <span class="file-label">
                                                            choose a file
                                                        </span>
                                                    </span>
                                            <span id="filename" class="file-name"></span>
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="control">
                                    <input class="button is-primary" type="submit" name="newFile" value="Upload">
                                </div>
                            </form>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="close()"></button>
                </div>

                <div id="newFolderModal" class="modal">
                    <div class="modal-background" onclick="close()"></div>
                    <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="subtitle">add a new folder</p>
                            </header>
                            <section class="modal-card-body">
                                <form action="/dashboard{{ path }}" method="POST">
                                    <div class="control">
                                        <input class="input is-primary" type="text" name="folder" placeholder="New folder name">
                                    </div>
                                    <br>
                                    <div class="control">
                                        <input class="button is-primary" type="submit" name="newFolder" value="Create">
                                    </div>
                                </form>
                            </section>
                        <footer class="modal-card-foot">
                        </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="close()"></button>
                </div>
<!--
                <div id="shareModal" class="modal">
                    <div class="modal-background" onclick="close()"></div>
                    <div class="modal-card">
                        <div class="">
                            <header class="modal-card-head">
                                <p class="subtitle">share this folder with the following email account</p>
                            </header>
                            <section class="modal-card-body">
                                <form action="/dashboard{{ path }}" method="POST">
                                    <div class="control">
                                        <input id="file-name" type="hidden" name="fileName" value="FolderName">
                                    </div>
                                    <br>
                                    <div class="control">
                                        <input class="input is-primary" type="email" name="email" placeholder="Email of the user to share this folder with">
                                    </div>
                                    <br>
                                    <div class="control">
                                        <input class="button is-primary" type="submit" name="share" value="share">
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="close()"></button>
                </div>
-->
                <div id="renameFileModal" class="modal">
                    <div class="modal-background" onclick="close()"></div>
                    <div class="modal-card">
                        <div class="">
                            <header class="modal-card-head">
                                <p class="subtitle">rename <span class="filename"></span></p>
                            </header>
                            <section class="modal-card-body">
                                <form action="/dashboard{{ path }}/{{ file['name'] }}" method="POST">
                                    <div class="control">
                                        <input class="input is-primary" type="text" name="newName" placeholder="new name">
                                    </div>
                                    <br>
                                    <div class="control">
                                        <input class="button is-primary" type="submit" name="renameFile" value="rename">
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="close()"></button>
                </div>

                <div class="column is-one-quarters is-offset-three-quarters">
                    <div class="box">
                        <span class="level-item has-text-primary has-text-weight-bold">available space: {{ space }} Mb  / 1 Gb </span>
                        <progress class=" level-item progress is-primary" value="{{ space }}" max="1000"></progress>
                    </div>
                </div>

                {% if errors is empty and isPost %}
                    <div class="notification is-success">
                        <button class="delete"></button>
                        <p>All the files have been uploaded successfully!</p>
                    </div>
                {% endif %}
                {% for error in errors %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}

                <div class="box">
                    <div class="level">
                        <h2 class="subtitle has-text-weight-bold"> {% if folder == root %} {{ root }}'s files {% else %} {{ folder }} {% endif %}</h2>
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <a id="newFolder" class="button is-primary is-outlined">
                                        <span class="icon is-small">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    <span class="has-text-weight-bold">new folder</span>
                                </a>
                            </p>
                            <p class="control">
                                <a id="newFile" class="button is-primary">
                                        <span class="icon is-small">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                    <span class="has-text-weight-bold">upload file</span>
                                </a>
                            </p>
                            {% if folder != root %}
                                <p class="control">
                                    <a class="button is-outlined is-gray" href="{{ upPath }}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-level-up-alt"></i>
                                                </span>
                                        <span class="has-text-weight-bold">back</span>
                                    </a>
                                </p>
                            {% endif %}

                        </div>
                    </div>

                    <!-- FILES DE CARPETES -->
                    <div class="box">
                        {% if files is empty %}
                            <p class="has-text-centered has-text-weight-bold"> there are no files in this folder </p>
                        {% endif %}
                        {% for file in files %}

                            <div id="shareModal" class="modal" hidden>
                                <div class="modal-background" onclick="close()"></div>
                                <div class="modal-card">
                                    <div class="">
                                        <header class="modal-card-head">
                                            <p class="subtitle">share this folder with the following email account</p>
                                        </header>
                                        <section class="modal-card-body">
                                            <form action="/dashboard{{ path }}" method="POST">
                                                <div class="control">
                                                    <input id="file-name" type="hidden" name="fileName" value="{{ file['name'] }}">
                                                </div>
                                                <br>
                                                <div class="control">
                                                    <input class="input is-primary" type="email" name="email" placeholder="Email of the user to share this foldeeeechr ({{ file['name'] }})with">
                                                </div>
                                                <br>
                                                <div class="control">
                                                    <input class="button is-primary" type="submit" name="share" value="share">
                                                </div>
                                            </form>
                                        </section>
                                    </div>
                                </div>
                                <button class="modal-close is-large" aria-label="close" onclick="close()"></button>
                            </div>

                            <div class="level">
                                <div class="container">
                                    <div id="{{ file["name"] }}" class="box">
                                        <p id="num">{{ loop.index }}</p>
                                        <p id="name">{{ file['name'] }}</p>
                                        <form action="/dashboard{{ path }}/{{ file['name'] }}" method="POST">
                                            <span class="icon is-medium has-text-primary">
                                            {% if file["type"] == "file" %}
                                                <i class="fas fa-file fa-lg"></i>
                                            {% endif %}
                                                {% if file["type"] == "shared" %}
                                                    <i class="fas fa-share-alt fa-lg"></i>
                                                {% endif %}
                                                {% if file["type"] == "folder" %}
                                                    <i class="fas fa-folder fa-lg"></i>
                                                {% endif %}
                                            </span>
                                            <a class="subtitle" {% if file["type"] == "folder" or file["type"] == "shared"%}href="/dashboard{{ path }}" {% endif %}>{{ file['name'] }}</a>
                                            <div class="field is-grouped is-grouped-right is-pulled-right">
                                                {% if file["type"] == "file" %}
                                                    <p class="control">
                                                        <button type="submit" name="download" class="button is-success">
                                                            <span>download</span>
                                                        </button>
                                                    </p>
                                                {% endif %}
                                                {% if file["type"] == "folder" or file["type"] == "shared"%}
                                                    <p class="control">
                                                        <a class="button is-success" href="/dashboard{{ path ~ "/" ~ file["name"] }}">
                                                            <span>open</span>
                                                        </a>
                                                    </p>
                                                {% endif %}
                                                {% if file["type"] != "shared" %}
                                                <p class="control">
                                                    <button id="rename" name="rename" class="button is-primary">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                        <span>rename</span>
                                                    </button>
                                                </p>
                                                {% endif %}
                                                {% if file["type"] == "folder" %}
                                                <p class="control">
                                                    <a id="share" class="button is-primary">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-share-alt"></i>
                                                        </span>
                                                        <span>share</span>
                                                    </a>
                                                </p>
                                                {% endif %}
                                                {% if file["type"] != "shared" %}
                                                <p class="control">
                                                    <button type="submit" name="delete_{{ file["type"] }}" class="button is-danger">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-times"></i>
                                                        </span>
                                                        <span>delete</span>
                                                    </button>
                                                </p>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block scripts %}
        <script defer src="{{ base_url }}/assets/js/dash_script.js"></script>
    {% endblock %}