{% extends "base.twig" %}
{% block title %}PWbox - profile{% endblock %}
{% block content %}
    <div class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-centered">profile</h2>
                <div class="box">
                    <table class="table is-fullwidth">
                        <tbody>
                        <tr>
                            <th>username</th>
                            <td>{{ username }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>birthdate</th>
                            <td>{{ birthdate }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>email</th>
                            <td>{{ email }}</td>
                            <td>
                                <form class="columns" action="/profile" method="POST">

                                    <div class="column is-one-fifth">
                                        <label class="label">update Email:</label>
                                    </div>
                                    <div class="column">
                                        <input class="input {% if error == -2%} is-danger {% endif %}" type="email" name="email" id="email" onblur="checkUpdateEmail()" placeholder="new email">
                                        <p class="help is-danger" id="email-inv" style="display: none;">invalid email</p>
                                    </div>
                                    <div class="column is-one-fifth">
                                        <button class="button is-primary" type="submit" name="email-button" onclick="return updateEmail();">update email</button>
                                    </div>

                                </form>
                                {% if error == -2 %}
                                    <div class="columns">
                                        <div class="column">
                                            <p class="help is-danger">invalid email</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>password</th>
                            <td>{{ password }}</td>
                            <td>
                                <form class="columns" action="/profile" method="POST">

                                    <div class="column is-one-fifth">
                                        <label class="label">update password:</label>
                                    </div>
                                    <div class="column">
                                        <input class="input {% if error == -4%} is-danger {% endif %}" type="password" name="password" id="password" onblur="checkUpdatePassword()" placeholder="new password">
                                        <p class="help is-danger" id="password-inv" style="display: none;">invalid password</p>
                                    </div>
                                    <div class="column">
                                        <input class="input {% if error == -5%} is-danger {% endif %}" type="password" name="confirm-password" id="password-conf" onblur="checkUpdatePasswordConf()" placeholder="confirm new password">
                                        <p class="help is-danger" id="password-conf-inv" style="display: none;">invalid password confirmation</p>
                                    </div>
                                    <div class="column is-one-fifth">
                                        <button class="button is-primary" type="submit" name="password-button" onclick="return updatePassword();">update password</button>
                                    </div>

                                </form>
                                {% if error == -4%}
                                    <div class="columns">
                                        <div class="column">
                                            <p class="help is-danger">invalid password</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if error == -5%}
                                    <div class="columns">
                                        <div class="column">
                                            <p class="help is-danger">invalid password confirmation</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form action="/" method="POST">
                        <button class="button is-danger is-outlined" type="submit" name="delete-account-button">Delete account</button>
                    </form>
                    {% if error == -7%}
                        <p class="help is-danger">An unexpected error ocurred</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ base_url() }}/assets/js/validations.js"></script>
{% endblock %}